<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <title>Title</title>
    <!--    <link href="https://www.layuicdn.com/layui/css/layui.css" rel="stylesheet" type="text/css"/>-->
</head>
<body style="margin: 10px;">
<div>
    <h1>云南新增新冠肺炎3例</h1>
</div>
<div style="position: relative;margin: 0 auto;padding: 0 15px;box-sizing: border-box;">
    <div style="line-height: 26px;">
        <div style="width:100%;margin: 10px auto;">
            <p>截止 2020-01-25 00:03:29(北京时间) 数据统计</p>
        </div>
        <div style="margin: 10px auto;width: 100%;"><span>全国 确诊 902 例 疑似 1076 例 治愈 36 例 死亡 26 例</span></div>
        <div style="margin: 10px auto;width: 100%;">
            <ul style="width: 100%;">
                <li>传染源: 野生动物，可能中华菊头蝠</li>
                <li>病毒: : 新型冠状病毒 2019-nCoV</li>
                <li>传播途径: 未完全掌握，存在人传人、医务人员感染、一定范围社区传播</li>
                <li>病毒是否变异：存在可能</li>
                <li>疫情是否扩散：是</li>
            </ul>
            <div  style="width: 100%;margin: 10px auto;">
                疫情地图：<img style="width: 100%;height: 100%;margin: 0 auto;display: block;"
                          src="https://img1.dxycdn.com/2020/0123/733/3392575782185696736-73.jpg">
            </div>
            <div style="width: 100%;margin: 10px auto;">
                趋势图：<img style="width: 100%;height: 100%;margin: 0 auto;display: block;"
                         src="https://img1.dxycdn.com/2020/0124/981/3392719124572016783-73.jpg">
            </div>
        </div>
    </div>
    <div>
        <div style="margin: 10px auto;width: 100%;">
            <table style="width: 100%;background-color: #fff;color: #666;margin: 10px 0;border-collapse: collapse;border-spacing: 0;">
                <thead>
                <tr style="background-color: #f2f2f2;">
                    <th style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">地区</th>
                    <th style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">确诊</th>
                    <th style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">怀疑</th>
                    <th style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">死亡</th>
                    <th style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">治愈</th>
                </tr>
                </thead>
                <tbody>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">湖北</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">549</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">24</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">31</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">广东</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">53</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">2</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">浙江</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">43</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">1</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">北京</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">36</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">1</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">重庆</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">27</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">湖南</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">24</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">上海</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">20</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">1</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">四川</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">15</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">山东</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">15</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">安徽</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">15</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">广西</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">13</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">福建</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">10</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">2</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">河南</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">9</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">江苏</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">9</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">海南</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">8</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">天津</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">8</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">江西</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">7</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">云南</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">5</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">陕西</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">5</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">黑龙江</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">4</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">1</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">辽宁</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">4</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">贵州</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">3</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">吉林</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">3</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">台湾</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">3</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">宁夏</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">2</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">香港</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">2</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">澳门</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">2</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">河北</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">2</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">1</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">甘肃</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">2</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">新疆</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">2</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">山西</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">1</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">内蒙古</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">1</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                <tr style="background-color: #f2f2f2;">
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">青海</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">1</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                    <td style="border-width: 1px;border-style: solid;border-color: #e6e6e6;position:relative;padding:9px 15px;min-height:20px;line-height:20px;font-size:14px">0</td>
                </tr>
                </tbody>
            </table>
            <div style="margin: 10px auto;width: 100%;">疑似病例数来自国家卫健委数据，目前为全国数据，未分省市自治区等</div>
        </div>
    </div>
    <div style="line-height: 26px;">
        <div style="margin: 10px auto;width: 100%;">
            <span style="display: block; margin: 10px auto;">最新报道：</span>
            <p>2020年1月24日，云南省报告新型冠状病毒感染的肺炎新增确诊病例3例。其中：西双版纳州1例、丽江市1例为本地首例确诊病例，昆明市新增确诊病例1例，均已转入定点医院治疗，目前病情稳定。</p>
            <a style="text-align: right;display: block;" href="https://m.weibo.cn/status/4464403249912789?">信息来源：人民日报</a>
        </div>
    </div>
</div>
</body>
</html>