<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Title</title>
    <style>
        body {
            margin: 10px;
        }

        .img {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            display: block;
        }
    </style>
</head>
<body>
<h1>最新-浙江新增 17 例新型肺炎确诊病例</h1>
<div>
    <div>
        <div><p>截至 2020-01-23 14:00 数据统计</p></div>
        <div><span>全国：确诊 616 例 疑似 395 例 治愈 28 例 死亡 17 例</span></div>
        <div>
            <ul>
                <li>病毒: 新型冠状病毒 2019-nCoV</li>
                <li>传播途径: 未完全掌握，存在人传人、医务人员感染、一定范围社区传播</li>
                <li>病毒是否变异：存在可能</li>
                <li>疫情是否扩散：是</li>
            </ul>
        </div>
        <div>
            <div>疫情地图： <img class="img" src="https://img1.dxycdn.com/2020/0123/415/3392507170083204479-73.jpg"/>
            </div>
            <div>
                <ul>
                    <li>河北 确诊 1 例</li>
                    <li>云南 确诊 1 例</li>
                    <li>四川 确诊 8 例，疑似 2 例</li>
                    <li>山东 确诊 6 例， 疑似 2 例</li>
                    <li>广西 确诊 5 例</li>
                    <li>贵州 确诊 3 例</li>
                    <li>福建 确诊 4 例</li>
                    <li>安徽 确诊 9 例，疑似 4 例</li>
                    <li>海南 确诊 4 例</li>
                    <li>宁夏 确诊 1 例</li>
                    <li>吉林 确诊 1 例</li>
                    <li>江西 确诊 3 例</li>
                    <li>天津 确诊 4 例</li>
                    <li>河南 确诊 5 例</li>
                    <li>重庆 确诊 9 例</li>
                    <li>澳门 确诊 2 例</li>
                    <li>山西 确诊 1 例</li>
                    <li>台湾 确诊 1 例</li>
                    <li>香港 确诊 1 例，疑似 117 例</li>
                    <li>陕西 疑似 4 例</li>
                    <li>湖南 确诊 9 例</li>
                    <li>辽宁 确诊 3 例</li>
                    <li>北京 确诊 14 例</li>
                    <li>广东 确诊 32 例，疑似 1 例</li>
                    <li>上海 确诊 16 例，疑似 22 例</li>
                    <li>浙江 确诊 27 例</li>
                    <li>黑龙江 确诊 1 例，疑似 2 例</li>
                    <li>江苏 确诊 1 例</li>
                    <li>内蒙古 疑似 1 例</li>
                    <li>甘肃 疑似 1 例</li>
                </ul>
            </div>
        </div>
        <div>
            <div>1月22日12时至1月23日12时，浙江省新增新型冠状病毒感染的肺炎确诊病例17例。其中杭州5例、宁波2例、温州2例、绍兴1例、金华1例、衢州1例、台州5例。</div>
            <div><p style="text-align:right">信息来源：央视新闻微博</p></div>
        </div>
    </div>
</div>
</body>
</html>