<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Title</title>
    <style>
        body {
            margin: 10px;
        }

        .img {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            display: block;
        }
    </style>
</head>
<body>
<h1>江苏确诊首例新型病毒肺炎病例</h1>
<div>
    <div>
        <div><p>截至 2020-01-23 00:13 数据统计</p></div>
        <div><span>全国：确诊 549 例 疑似 137 例 治愈 28 例 死亡 17 例</span></div>
        <div>
            <ul>
                <li>病毒: 新型冠状病毒 2019-nCoV</li>
                <li>传播途径: 未完全掌握，存在人传人、医务人员感染、一定范围社区传播</li>
                <li>病毒是否变异：存在可能</li>
                <li>疫情是否扩散：是</li>
            </ul>
        </div>
        <div>
            <div>疫情地图： <img class="img" src="https://img1.dxycdn.com/2020/0123/888/3392400603354556738-73.jpg"/>
            </div>
            <div>
                <ul>
                    <li>河北 确诊 1 例</li>
                    <li>云南 确诊 1 例</li>
                    <li>福建 确诊 1 例</li>
                    <li>四川 确诊 5 例，疑似 2 例</li>
                    <li>山东 确诊 2 例</li>
                    <li>广西 确诊 2 例，疑似 1 例</li>
                    <li>贵州 确诊 1 例</li>
                    <li>安徽 确诊 1 例，疑似 4 例</li>
                    <li>海南 确诊 4 例</li>
                    <li>宁夏 确诊 1 例</li>
                    <li>吉林 疑似 1 例</li>
                    <li>江西 确诊 2 例</li>
                    <li>天津 确诊 4 例</li>
                    <li>河南 确诊 5 例</li>
                    <li>重庆 确诊 6 例</li>
                    <li>澳门 确诊 1 例</li>
                    <li>山西 确诊 1 例</li>
                    <li>台湾 确诊 1 例</li>
                    <li>香港 疑似 117 例</li>
                    <li>湖南 确诊 4 例</li>
                    <li>辽宁 确诊 2 例</li>
                    <li>北京 确诊 14 例</li>
                    <li>广东 确诊 26 例，疑似 1 例</li>
                    <li>上海 确诊 9 例，疑似 10 例</li>
                    <li>浙江 确诊 10 例</li>
                    <li>黑龙江 疑似 1 例</li>
                    <li>江苏 确诊 1 例</li>
                </ul>
            </div>
        </div>
        <div>
            <div>今天，北京新确诊 4 例新型冠状病毒感染的肺炎病例。目前，4 名患者病情平稳，在定点医院接受隔离治疗。现已对 35 名密切接触者开展医学观察，目前无发热等异常情况。截至今天 18 时，北京确诊 14 例新型肺炎病例</div>
            <div><p style="text-align:right">信息来源：央视新闻微博</p></div>
        </div>
    </div>
</div>
</body>
</html>